<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" data-ng-controller="myCtrl">
<head>
	<title>Store</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!--Styles-->
	<link href="css/bootstrap.css" rel="stylesheet" />
	<style>

		img {
			max-width: 100%;
			max-height: 100%;
		}
		/*For Testing*/
		/*.row div {
			border-style: solid;
			text-align: center;
		}*/
		.productImg {
			max-height: 200px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.cartImg {
			height: 50px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.form-group{
			border-style: solid;
			border-color: lightgrey;
			border-width: 1px;
		}
		form .row{
			margin-top: 6px;
			margin-bottom: 6px;
		}
		form .errorMessage{
			color: red;
		}

		.jumbotron{
			text-align: center;
		}

		.pagination {
			font-size: 24px;
		}
	</style>
</head>
<body>
<!------------------------------------------->
<!--NAVBAR-->
		<!--Navbar Source: https://stackoverflow.com/questions/49046051/bootstrap-4-navbar-not-showing-navbar-items-->
		<nav class="navbar navbar-expand-md navbar-light bg-faded">
			<a class="navbar-brand" onclick="goBack()">
				<img src="images/LOGO.JPG" width="30" height="30" class="d-inline-block align-top" alt="Picture of the company's logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href=""  data-ng-click="goTo('home')">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" data-ng-click="goTo('search')">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" data-ng-click="goTo('cart')">Cart</a>
					</li>
					<!--TODO: Delete This-->
				</ul>
			</div>
		</nav>

<!------------------------------------------->
<!--SEARCH BAR-->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<select  class="form-control" data-ng-model="searchCategory">
					<option value="">All</option>
					<option value="plb">Personal Locator Beacon</option>
					<option value="combo">PLB and Accessory Sets</option>
					<option value="accessory">Accessories</option>
				</select>
			</div>
			<div class="col-md-6 col-sm-12">
				<input type="text" data-ng-model="searchTerm" placeholder="search..."  class="form-control"/>
			</div>
			<div class="col-md-2 col-sm-12">
				 <button class="form-control"  data-ng-click="goTo('search')">Search</button>
			</div>
		</div>
	</div>
	<br/>

<!------------------------------------------->
<!--HOME-->
	<div class="container" data-ng-if="page=='home'">

		<!--LANDING PAGE & LOGIN-->
		<div class="row">
			<!--Featured Products-->
			<div class="col-md-8 col-sm-12 jumbotron">
				<h2>Featured Products</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6" data-ng-repeat="product in featuredProducts">
						<!--Product Image-->
						<a href="" data-ng-click="getProduct(product)">
							<img class="productImg" src ="images/products/{{ product.img }}" alt="Photo of {{product.name}}"/>
						</a>
						<!--Product Name-->
						<h3>
							<a href="" data-ng-click="getProduct(product)">{{ product.name }}</a>
						</h3>
						<!--Product Details-->
						<p><b>${{ product.price }}</b></p>
					</div>

				</div>
			</div>
				<div class="col-md-4 col-sm-12">
					<h2>Login</h2>
					<label for="username">Username</label>
					<input type="text" name="username" id="username" class="form-control"/>
					<br/>
					<label for="password">Password</label>
					<input type="password" name="password" id="password" class="form-control"/>
					<br/>
					<input type="submit" value="Login" class="form-control"/>
				</div>
			</div>
			<!--Popular Products-->
			<h2>Popular Products</h2>
			<div class="row">
				<div class="col-md-3 col-sm-6" data-ng-repeat="product in popularProducts">
					<!--Product Image-->
					<a href="" data-ng-click="getProduct(product)">
						<img class="productImg" src ="images/products/{{ product.img }}" alt="Photo of {{product.name}}"/>
					</a>
					<!--Product Name-->
					<h3>
						<a href="" data-ng-click="getProduct(product)">{{ product.name }}</a>
					</h3>
					<!--Product Details-->
					<p><b>${{ product.price }}</b></p>
				</div>
		</div>
	</div>

<!------------------------------------------->
	<!--Search Page-->
	<div class="container" data-ng-if="page=='search'">
		<div class="row">
			<div class="col-md-3 col-sm-6" data-ng-repeat="product in filteredProducts | offset: currentPage*productsPerPage | limitTo: productsPerPage | orderBy : 'price'">

				<!--Product Image-->
				<a href="" data-ng-click="getProduct(product)">
					<img class="productImg" src ="images/products/{{ product.img }}"  alt="Photo of {{product.name}}"/>
				</a>

				<!--Product Name-->
				<h3>
					<a href="" data-ng-click="getProduct(product)">{{ product.name }}</a>
				</h3>

				<!--Product Details-->
				<p><b>${{ product.price }}</b></p>
				<p>{{ product.desc }}</p>
			</div>
		</div>
		<!--Pagination-->
		<ul class="pagination">
			<li data-ng-if="!prevPageDisabled()" data-ng-click="prevPage()">
				<a href="#">Prev</a>
			</li>
			<li data-ng-if="!nextPageDisabled()" data-ng-click="nextPage()">
				<a href="#">Next</a>
			</li>
		</ul>
	</div>
	<!------------------------------------------->
	<!--Product Page-->
	<div class="container" data-ng-if="page=='product'">
		<div class="row">
			<!--Product Image-->
			<div class="col-md-4 col-sm-12">
				<img class="productImg" src="images/products/{{ currentProduct.img }}" alt="Photo of {{product.name}}" style="max-height:200px;"/>
			</div>
			<div class="col-md-8 col-sm-12">
				<!--Product Name-->
				<h3>{{ currentProduct.name }}</h3>

				<!--Product Price and Buy-->
				<p><b>${{ currentProduct.price }}</b></p>
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<button class="form-control"  data-ng-click="addToCart()">Add to Cart</button>
					</div>
				</div>
				<!--Product Description-->
				<p>{{ currentProduct.desc }}</p>
			</div>
		</div>
		<p data-ng-if="showTip"><b>Item added to your <a href="" data-ng-click="goTo('cart')">cart</a></b></p>
	</div>

<!------------------------------------------->
<!--Cart Page-->
	<div class="container" data-ng-if="page=='cart'">

		<h2>Your Cart</h2>

		<!--If cart is empty, don't display items-->
		<div data-ng-if="cart==''">
			<p>Your cart is Empty.</p>
		</div>

		<!--If cart contains items, show them-->
		<div data-ng-if="cart!=''">
			<div class="row" data-ng-repeat="cartItem in cart" >
				<!--Product Image-->
				<div class="col-xs-1">

					<img class="cartImg" src ="images/products/{{ cartItem.product.img }}"  alt="Photo of {{product.name}}"/>
				</div>
				<!--Product Name-->
				<div class="col-md-4 col-sm-12">
					<p>{{ cartItem.product.name }}</p>
				</div>
				<!--Product Count-->
				<div class="col-md-2 col-sm-6">
					<p>Amount: {{ cartItem.count }}</p>
				</div>
				<!--Product Price-->
				<div class="col-md-2 col-sm-6">
					<p><b>${{ cartItem.product.price * cartItem.count }}</b></p>
				</div>
				<!--Remove Button-->
				<!--TODO: Fix this displaying incorrectly on small screens-->
				<div class="col-md-2 col-sm-12">
					<!--TODO: Make Method to remove from cart-->
					<button class="form-control" data-ng-click="removeFromCart(cartItem)">Remove One</button>
				</div>
			</div>

			<!--Checkout Button-->
			<div class="row justify-content-end">
				<div class="col-md-4 col-sm-12">
					<button class="form-control" data-ng-click="goTo('checkout')">Checkout</button>
				</div>
			</div>
		</div>
	</div>

<!------------------------------------------->
<!--Checkout Page-->
	<div class="container"  as data-ng-if="page=='checkout'">
		<h2>Checkout</h2>

		<form name="myForm" data-ng-submit="myForm.$valid && submit()" novalidate="novalidate" method="post" action="http://mercury.swin.edu.au/it000000/formtest.php">
			<!--Address-->
			<h3>Postal Address</h3>
			<div class="form-group">

				<!--First Name-->
				<!--letters only and required-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="firstName">First Name*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="firstName" name="firstName" data-ng-model="order.firstName" data-ng-pattern="/^[a-zA-Z\s]*$/" maxlength="20" required/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.firstName.$touched && myForm.firstName.$error.required">This field is required.</span>
						<span class="errorMessage formError" data-ng-show="myForm.firstName.$touched && myForm.firstName.$error.pattern">Your name can only contain letters.</span>
					</div>
				</div>

				<!--Last Name-->
				<!--letters only and required-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="lastName">Last Name*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="lastName" name="lastName" data-ng-model="order.lastName" data-ng-pattern="/^[a-zA-Z\s]*$/" maxlength="20" required/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.lastName.$touched && myForm.lastName.$error.required">This field is required.</span>
						<span class="errorMessage" data-ng-show="myForm.lastName.$touched && myForm.lastName.$error.pattern">Your name can only contain letters.</span>
					</div>
				</div>

				<!--address-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="address">Address*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="address" name="address" data-ng-model="order.address" maxlength="40" required/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.address.$touched && myForm.address.$error.required" >This field is required.</span>
					</div>
				</div>

				<!--suburb-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="suburb">Suburb*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="suburb" name="suburb" data-ng-model="order.suburb" maxlength="20"/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.suburb.$touched && myForm.suburb.$error.required">This field is required.</span>
					</div>
				</div>

				<!--postcode-->
				<!--exactly 4 numeric digits and required-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="postcode">Postcode*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="postcode" name="postcode" data-ng-model="order.postcode" pattern="\d{4}" maxlength="4" required/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.postcode.$touched && myForm.postcode.$error.required">This field is required.</span>
						<span class="errorMessage" data-ng-show="myForm.postcode.$error.pattern">Postcode must be exactly 4 numbers.</span>
					</div>
				</div>
			</div>
			<h3>Contact Details</h3>
			<div class="form-group">

				<!--email-->
				<!--must be in email format and required-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="email">Email*</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="email" class="form-control" id="email" name="email" data-ng-model="order.email" maxlength="20" required/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.email.$touched && myForm.email.$error.required">This field is required.</span>
						<span class="errorMessage" data-ng-show="myForm.email.$touched && myForm.email.$error.email">You must enter a valid email.</span>
					</div>
				</div>

				<!--mobile-->
				<!--10 digits, must start with 04-->
				<div class="row">
					<div class="col-md-2 col-sm-12">
						<label for="mobile">Mobile Number</label>
					</div>
					<div class="col-md-5 col-sm-12">
						<input type="text" class="form-control" id="mobile" name="mobile" maxlength="10" data-ng-model="order.mobile" data-ng-pattern="/^04\d{8}$/g"/>
					</div>
					<div class="col-md-5 col-sm-12">
						<span class="errorMessage" data-ng-show="myForm.mobile.$error.pattern">Your mobile number isn't valid.</span>
					</div>
				</div>
			</div>
			<!--submit button-->
			<input type="submit" value="Submit" data-ng-disabled="myForm.$invalid"/>
		</form>
	</div>

<!------------------------------------------->
<!--Footer-->
	<div class="container" >
		<div class="row">
			<div class="col-md-9 col-sm-12"><!--FOOTER TEXT-->
				<p>Copyright 2018: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
				<p>Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>

			</div>
			<div class="col-md-3 col-sm-12">
				<img src="images/facebook.png" alt="Facebook Logo"/>
				<img src="images/Twitter.png" alt="Twitter Logo"/>
				<img src="images/linkedin.png" alt="LinkedIn Logo"/>
			</div>
		</div>
	</div>
<!------------------------------------------->
<!--Scripts-->
	<script src="js/jquery-1.12.4.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="myApp.js"></script>
</body>
</html>
